<launch>
  <arg name="rviz" default="true" />
  <arg name="config" />
  <arg name="cameras" />
  <arg name="output_dir" default="" />
  <arg name="use_sim_time" default="false" />
  <param name="/use_sim_time" value="$(arg use_sim_time)" />
  <node pkg="spherical_livo" type="spherical_livo_node" name="spherical_livo" output="screen">
    <rosparam command="load" file="$(arg config)" />
    <rosparam command="load" file="$(arg cameras)" />
    <param name="output_dir" value="$(arg output_dir)" />
  </node>
  <node if="$(arg rviz)" pkg="rviz" type="rviz" name="rviz"
        args="-d $(find spherical_livo)/rviz_cfg/spherical_livo.rviz" output="screen" />
</launch>
